.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px;
}

.studio-item {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.studio-item:hover {
    cursor: default;
}

.studio-item-subtext {
    font-size: 0.8rem;
    line-height: 0.5;
}

.studio-item-button-text {
    font-size: 0.9rem;
    line-height: 1;
}